
<div id="container">
  <div id="form-container">
    <h3 id="title">Apply Online Now</h3>
    <form [formGroup]="AOF" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div>
        <label for="product"> Product <span>*</span> </label>
        <select id="product" formControlName="product" aria-required="true">
            <optgroup label="Deposit Account">
                <option value="Savings Account">Savings Account</option>
                <option value="Prime Current Account">Prime Current Account</option>
                <option value="My First Account">My First Account </option>
                <option value="Resident Foreign Currency Deposit Account (RFCD)">Resident Foreign Currency Deposit Account (RFCD) </option>
                <option value="Prime Women’s Savings Account">Prime Women’s Savings Account </option>
            </optgroup>
            <optgroup label="Deposit Schemes">
                <option value="Kotipoti Deposit Scheme">Kotipoti Deposit Scheme</option>
                <option value="Prime Millionaire Scheme">Prime Millionaire Scheme</option>
                <option value="Double Benefit Deposit Scheme">Double Benefit Deposit Scheme</option>
                <option value="Lakhopoti Deposit Scheme">Lakhopoti Deposit Scheme</option>
                <option value="Prime Monthly Income Scheme">Prime Monthly Income Scheme</option>
                <option value="Laksma Puron Deposit Scheme">Laksma Puron Deposit Scheme</option>
                <option value="Contributory Deposit Scheme">Contributory Deposit Scheme</option>
                <option value="Prime Nobagoto">Prime Nobagoto</option>
                <option value="Account 150% Deposit Scheme">Account 150% Deposit Scheme</option>
                <option value="Fixed Deposit">Fixed Deposit</option>
            </optgroup>
            <optgroup label="Home Loan">
                <option value="Swapna Neer">Swapna Neer</option>
                <option value="Abash">Abash</option>
                <option value="Swapnashaj">Swapnashaj</option>
            </optgroup>
            <option value="Car Loan">Car Loan</option>
            <option value="Personal Loan">Personal Loan</option>
            <optgroup label="Credit Card">
                <option value="JCB Platinum Credit Card">JCB Platinum Credit Card</option>
                <option value="Visa Platinum Credit Card">Visa Platinum Credit Card</option>
                <option value="VISA Classic Card">VISA Classic Card</option>
                <option value="JCB Classic Card">JCB Classic Card</option>
                <option value="Visa Gold Credit Card">Visa Gold Credit Card</option>
                <option value="JCB Gold Credit Card">JCB Gold Credit Card</option>
                <option value="World Mastercard Credit Card">World Mastercard Credit Card</option>
                <option value="Mastercard Platinum Credit Card">Mastercard Platinum Credit Card</option>
                <option value="VISA Hasanah Gold Card">VISA Hasanah Gold Card </option>
                <option value="VISA Hasnah Platinum Card">VISA Hasnah Platinum Card</option>
            </optgroup>
            <option value="Motorcycle Financing">Motorcycle Financing</option>
            <option value="Prime Women’s Savings Account">Prime Women’s Savings Account</option>
            <option value="Current Account">Current Account </option>
            <option value="Motorcycle Financing">Motorcycle Financing </option>
            <optgroup label="Deposit Schemes">
                <option value="Mudaraba Kotipoti Deposit Scheme">Mudaraba Kotipoti Deposit Scheme</option>
                <option value="Mudaraba Millionaire Deposit Scheme">Mudaraba Millionaire Deposit Scheme<option>
                <option value="Mudaraba Lakhopoti Deposit Scheme">Mudaraba Lakhopoti Deposit Scheme
                                    </option>
                <option value="Mudaraba Double Benefit Deposit Scheme">Mudaraba Double Benefit Deposit Scheme</option>
                <option value="Mudaraba Monthly Income Scheme">Mudaraba Monthly Income Scheme</option>
                <option value="Mudaraba Laksma Puron Deposit Scheme">Mudaraba Laksma Puron Deposit Scheme</option>
                <option value="Mudaraba Contributory Deposit Scheme">Mudaraba Contributory Deposit Scheme</option>
                <option value="Mudaraba Nobagoto Deposit Scheme">Mudaraba Nobagoto Deposit Scheme</option>
                <option value="Mudaraba 150% Deposit Scheme">Mudaraba 150% Deposit Scheme</option>
                <option value="Mudaraba Hajj Savings Scheme">Mudaraba Hajj Savings Scheme</option>
                <option value="Mudaraba Term Deposit Receipt">Mudaraba Term Deposit Receipt</option>
            </optgroup>
            <optgroup label="Invest">
                <option value="Hasanah Shahaj">Hasanah Shahaj</option>
                <option value="Hasanah Shombhabona">Hasanah Shombhabona</option>
                <option value="Hasanah Emarat">Hasanah Emarat</option>
                <option value="Hasanah Chalti">Hasanah Chalti</option>
                <option value="Hasanah Sampad">Hasanah Sampad</option>
            </optgroup>
            <optgroup label="Save">
                <option value="Prime Aagami Mudaraba">Prime Aagami Mudaraba</option>
                <option value="Prime Hasanah Echo">Prime Hasanah Echo</option>
            </optgroup>
            <option value="Hasanah Home Investment (Manjeel)">Hasanah Home Investment (Manjeel) </option>
            <option value="Hasanah Auto Investment (Burak)">Hasanah Auto Investment (Burak)</option>
            <option value="Financing Against Financial Obligation">Financing Against Financial Obligation</option>
            <option value="Quard Against MTDR">Quard Against MTDR</option>
            <optgroup label="Deposit Accounts">
                <option value="Mudaraba Savings Account">Mudaraba Savings Account</option>
                <option value="Prime Hasanah Current Account">Prime Hasanah Current Account</option>
                <option value="Mudaraba My First Account">Mudaraba My First Account</option>
                <option value="Mudaraba Special Notice Deposit">Mudaraba Special Notice Deposit</option>
                <option value="Prime Hasanah Women’s Savings Account">Prime Hasanah Women’s Savings Account</option>
            </optgroup>
            <option value="Hasanah Household Durables Investment (Asbab)">Hasanah Household Durables Investment (Asbab)</option>
            <option value="Visa Hasanah Gold Credit Card">Visa Hasanah Gold Credit Card</option>
            <option value="Visa Hasanah Platinum Credit Card">Visa Hasanah Platinum Credit Card</option>
            <option value="Foreign Currency Account">Foreign Currency Account</option>
            <option value="Non Resident Foreign Currency Deposit Account (NFCD)">Non Resident Foreign Currency Deposit Account (NFCD)</option>
            <option value="Non Resident Taka Account">Non Resident Taka Account</option>
            <option value="Non-resident Investor&#039;s Taka Account">Non-resident Investor &#039;s Taka Account</option>
            <option value="Prime Shahaj">Prime Shahaj</option>
            <option value="Prime Shombhabona">Prime Shombhabona</option>
            <option value="Prime Emarat">Prime Emarat</option>
            <option value="Prime Chalti">Prime Chalti</option>
            <option value="Prime Sampad">Prime Sampad</option>
            <option value="Prime Dealer">Prime Dealer</option>
            <option value="Anchol Rin">Anchol Rin</option>
            <option value="Prime Lenden">Prime Lenden</option>
            <option value="Prime Aagami">Prime Aagami</option>
            <option value="MSME Business Account">MSME Business Account</option>
            <option value="MSME Special Notice Deposit">MSME Special Notice Deposit</option>
            <option value="MSME Fixed Deposit Receipt">MSME Fixed Deposit Receipt</option>
            <option value="Cluster Financing">Cluster Financing</option>
            <option value="Prime Startup">Prime Startup</option>
            <option value="Prime Shongjog">Prime Shongjog</option>
            <option value="Prime Echo">Prime Echo</option>
        </select>
      </div>
          <div>
              <label for="firstname">First Name: <span>*</span></label>
              <input type="text" placeholder="Your First Name" id="firstname" formControlName="firstName">
          </div>
          <div>
              <label for="lastname">Last Name: <span>*</span></label>
              <input type="text" placeholder="Your Last Name" id="lastname" formControlName="lastName">
          </div>
          <div>
              <label for="profession">Profession <span>*</span></label>
              <select id="profession" formControlName="profession">
                  <option selected="selected" value="">-SELECT-</option>
                  <option value="Government Service">Government Service</option>
                  <option value="Private Service">Private Service</option>
                  <option value="Businessman">Businessman</option>
                  <option value="Self Employed">Self Employed</option>
                  <option value="Others">Others</option>
              </select>
              <div id="productdiv" class="productdiv" style="display: none;">
                  <input id="exampleInputSubject2" type="text" placeholder="Please Type here" name="othersprof" class="form-control">
              </div>
          </div>
          <div>
              <label for="mobile"> Mobile <span>*</span></label>
              <input type="tel" placeholder="" id="mobile" formControlName="mobile">
              <small class="text-danger" *ngIf="AOF.get('mobile')?.errors?.['required'] && AOF.get('mobile')?.touched">*Mobile Number is a required field</small>
              <small class="text-danger" *ngIf="(mobile.errors?.['minlength'] || mobile.errors?.['maxlength']) && AOF.get('mobile')?.touched">*Enter a Valid Mobile Number</small>
          </div>
          <div>
              <label for="email">Email <span>*</span></label>
              <input type="email" id="email" formControlName="email">
          </div>
          <div>
              <label for="nid">NID <span>*</span></label>
              <input type="text" id="nid" formControlName="nid">
          </div>
          <div>
              <label for="tin">TIN <span>*</span></label>
              <input type="text" id="tin" formControlName="tin">
          </div>
          <div>
              <label for="branch"> Nearest Prime Bank Branch <span>*</span></label>
              <select id="branch" formControlName="branch">
                  <option selected="selected" value="">-SELECT-</option>
                  <option value="2">ADAMJEE EPZ BRANCH</option>
                  <option value="3">ASADGATE BRANCH</option>
                  <option value="4">ASHULIA BRANCH</option>
                  <option value="5">BANANI BRANCH</option>
                  <option value="6">BANASREE BRANCH</option>
                  <option value="7">BANGSHAL BRANCH</option>
                  <option value="8">BARIDHARA BRANCH</option>
                  <option value="9">BASHABO BRANCH</option>
                  <option value="10">BASHUNDHARA BRANCH</option>
                  <option value="11">BHAIRAB BAZAR BRANCH</option>
                  <option value="12">BIJOY NAGAR BRANCH</option>
                  <option value="13">BOALMARI BRANCH</option>
                  <option value="14">DAMUDYA BRANCH</option>
                  <option value="15">DHANMONDI BRANCH</option>
                  <option value="16">ELEPHANT ROAD BRANCH</option>
                  <option value="17">FARIDPUR BRANCH</option>
                  <option value="18">FOREIGN EXCHANGE BRANCH</option>
                  <option value="19">GANAKBARI BRANCH</option>
                  <option value="20">GARIB-E-NEWAZ AVE. BRANCH</option>
                  <option value="21">GULSHAN BRANCH</option>
                  <option value="22">HEMAYETPUR BRANCH</option>
                  <option value="23">IBRAHIMPUR BRANCH</option>
                  <option value="24">IBB MIRPUR BRANCH</option>
                  <option value="25">IBB, DILKUSHA BRANCH</option>
                  <option value="26">JAMALPUR BRANCH</option>
                  <option value="27">JATRABARI BRANCH</option>
                  <option value="28">JOYDEVPUR BRANCH</option>
                  <option value="29">JOYPARA BRANCH</option>
                  <option value="30">KAKRAIL BRANCH</option>
                  <option value="31">KALIAKOIR BRANCH</option>
                  <option value="32">KAWRAN BAZAR BRANCH</option>
                  <option value="33">KISHORGONJ BRANCH</option>
                  <option value="34">MADHABDI BRANCH</option>
                  <option value="35">MIRPUR-1 BRANCH</option>
                  <option value="36">MIRZAPUR BRANCH</option>
                  <option value="37">MODHUKHALI BRANCH</option>
                  <option value="38">MOHAKHALI BRANCH</option>
                  <option value="39">MOTIJHEEL BRANCH</option>
                  <option value="40">MOUCHAK BRANCH</option>
                  <option value="41">MOULVI BAZAR BRANCH</option>
                  <option value="42">MYMENSINGH BRANCH</option>
                  <option value="43">NARAYANGONJ BRANCH</option>
                  <option value="44">NAWABGONJ BRANCH</option>
                  <option value="45">NEW ESKATON BRANCH</option>
                  <option value="46">PALLABI BRANCH</option>
                  <option value="47">PANTHAPATH BRANCH</option>
                  <option value="48">PATUATULY BRANCH</option>
                  <option value="49">PRAGATI SARANI BRANCH</option>
                  <option value="50">RING ROAD BRANCH</option>
                  <option value="51">SAT MASJID ROAD BRANCH</option>
                  <option value="52">SAVAR BRANCH</option>
                  <option value="53">SERAJDIKHAN BRANCH</option>
                  <option value="54">SHIBPUR BRANCH</option>
                  <option value="55">SHIMRAIL BRANCH</option>
                  <option value="56">SREENAGAR BRANCH</option>
                  <option value="57">TANGAIL BRANCH</option>
                  <option value="58">TEJGAON BRANCH</option>
                  <option value="59">TONGI BRANCH</option>
                  <option value="60">UTTARA BRANCH</option>
                  <option value="61">WARI BRANCH</option>
                  <option value="62">AGRABAD BRANCH</option>
                  <option value="63">ASHUGANJ BRANCH</option>
                  <option value="66">BRAHMANBARIA BRANCH</option>
                  <option value="67">CHAUDDAGRAM BRANCH</option>
                  <option value="68">CHOWMUHANI BRANCH</option>
                  <option value="69">CUMILLA BRANCH</option>
                  <option value="70">COX &#039;S BAZAR BRANCH</option>
                  <option value="71">DAGONBHUIYAN BRANCH</option>
                  <option value="72">FATICKCHARI BRANCH</option>
                  <option value="73">FENI BRANCH</option>
                  <option value="74">HAJIGONJ BRANCH</option>
                  <option value="75">HALISHAHAR BRANCH</option>
                  <option value="76">HATHAZARI BRANCH</option>
                  <option value="77">IBB O R NIZAM ROAD BRANCH</option>
                  <option value="78">IBB PAHARTALI BRANCH</option>
                  <option value="79">JUBILEE ROAD BRANCH</option>
                  <option value="80">KARNAFULI EPZ BRANCH</option>
                  <option value="81">KERANIHAT BRANCH</option>
                  <option value="82">KHATUNGONJ BRANCH</option>
                  <option value="83">LALDIGHI EAST BRANCH</option>
                  <option value="84">Khulshi Branch</option>
                  <option value="85">OXYGEN MORE BRANCH</option>
                  <option value="86">PRABARTAK MORE BRANCH</option>
                  <option value="87">RACECOURSE BRANCH</option>
                  <option value="88">RAMGARH Branch</option>
                  <option value="89">RAOZAN BRANCH</option>
                  <option value="90">BANESWAR BRANCH</option>
                  <option value="91">BOGURA BRANCH</option>
                  <option value="92">CHAPAI NAWABGANJ BRANCH</option>
                  <option value="93">ISHWARDI BRANCH</option>
                  <option value="94">JOYPURHAT BRANCH</option>
                  <option value="95">MAHADEBPUR BRANCH</option>
                  <option value="96">NAOGAON BRANCH</option>
                  <option value="97">NATORE BRANCH</option>
                  <option value="98">PABNA BRANCH</option>
                  <option value="99">RAJSHAHI BRANCH</option>
                  <option value="100">SHERPUR BRANCH, BOGURA</option>
                  <option value="101">BARALEKHA BRANCH</option>
                  <option value="102">BEANIBAZAR BRANCH</option>
                  <option value="103">BISHWANATH BRANCH</option>
                  <option value="104">COURT ROAD BRANCH</option>
                  <option value="105">DHAKA DAKSHIN BRANCH</option>
                  <option value="106">FENCHUGANJ BRANCH</option>
                  <option value="107">HABIGANJ BRANCH</option>
                  <option value="108">IBB AMBERKHANA BRANCH</option>
                  <option value="109">ISLAMPUR BRANCH</option>
                  <option value="110">KADAMTOLI BRANCH</option>
                  <option value="111">KULAURA BRANCH</option>
                  <option value="112">NABIGANJ BRANCH</option>
                  <option value="113">SREEMANGAL BRANCH</option>
                  <option value="114">SUBIDBAZAR BRANCH</option>
                  <option value="115">SUNAMGANJ BRANCH</option>
                  <option value="116">SYLHET BRANCH</option>
                  <option value="117">TAJPUR BRANCH</option>
                  <option value="118">UPASHAHAR BRANCH</option>
                  <option value="119">DAULATPUR BRANCH</option>
                  <option value="120">JESSORE BRANCH</option>
                  <option value="121">KHULNA BRANCH</option>
                  <option value="122">KUSHTIA BRANCH</option>
                  <option value="123">MAGURA BRANCH</option>
                  <option value="124">SATKHIRA BRANCH</option>
                  <option value="125">BARISAL BRANCH</option>
                  <option value="126">DINAJPUR BRANCH</option>
                  <option value="127">HATIBANDHA BRANCH</option>
                  <option value="128">RANGPUR BRANCH</option>
                  <option value="129">SAIDPUR BRANCH</option>
                  <option value="130">VATIARY BRANCH</option>
                  <option value="131">BHUJPUR SME BRANCH</option>
                  <option value="132">HEAKO SME BRANCH</option>
                  <option value="133">MADUNAGHAT SME BRANCH</option>
                  <option value="134">BNASHKHALI BRANCH</option>
                  <option value="135">COMPANYGONJ SME/AGRI BRANCH</option>
                  <option value="136">CHATKHIL SME/AGRI BRANCH</option>
                  <option value="137">RAIPUR SME BRANCH</option>
                  <option value="138">JHIKORGACHA SME BRANCH</option>
                  <option value="139">PORADAHA SME-AGRI BRANCH</option>
                  <option value="140">TAKERHAT SME CENTER</option>
                  <option value="141">AGANAGAR SME BRANCH</option>
                  <option value="142">NAWABPUR SME SRV. CEN.</option>
                  <option value="143">POSTA SME BRANCH</option>
                  <option value="144">SONARGAON SME BRANCH</option>
                  <option value="145">NARSINGDI SME BRANCH</option>
                  <option value="146">SHERPUR SME BRANCH</option>
                  <option value="147">MADHABPUR SME</option>
                  <option value="148">SYEDPUR SME</option>
                  <option value="150">THAKURGAON SME/AGRI</option>
              </select>
          </div>
          <div>
            <label for="photo">Photo <span></span></label>
            <input type="file" id="photo" formControlName="photo" accept=".jpg,.png,.jpeg,.svg" (change)="photoSelected($event)">
          </div>
          <div>
            <label for="nid-pic">Photo of NID<span></span></label>
            <input type="file" id="nid-pic" formControlName="nidPhoto" (change)="nidSelected($event)" accept=".pdf">
          </div>
          <div>
              <p>
                  <b style="color:#0056b3">Disclaimer*</b><br>
                  <small>Clicking “Submit” button, you consent to us using your
                     information above and contacting you via email and/or
                     telephone for the purpose of completing your
                     application.
                  </small>
              </p>
          </div>
      <div class="row">
              <button type="submit" [ngClass]="AOF.valid ? 'enabled-btn' : 'disabled-btn'" data-loading-text="Pleasewait..." [disabled]="!AOF.valid">Submit</button>
      </div>
    </form>
    </div>
    <div class="file-container">
      <app-example-pdf-viewer></app-example-pdf-viewer>
    </div>
</div>
